.card-header {
    background: $main-background !important;
}

.vaccine-container {
    // background: $main-background2 !important;
    .vaccine-icon {
        width: 20px;
        height: 20px;
    }
}