$main-background: rgb(205, 121, 121);
$main-background2: rgb(185, 205, 206);
$breakpoint-logoXl: 1200px;
$breakpoint-navCollapse: 991px;
$breakpoint-logoM: 740px;
$breakpoint-xs: 576px;
$breakpoint-logoS: 520px;
$breakpoint-logoXS: 430px;
$breakpoint-logoXXS: 330px;